@import 'base';

html, body {
	font-size: 10px;
}

.hidden {
	display: none;
}

body {
	justify-contents: stretch;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	border: none;
	background-color: transparent;
}
